<div class="searchSong">	
	<form ng-submit="searchQuery(query.text)">
		<label>
			<input id="songSearch" type="text" placeholder="&#9833; Search" name="input" ng-model="query.text">
		</label>		
	</form>
	<div class="searchResultsStatus" ng-if="showSearchResults == true"> showing results for "{{searchedQuery}}" </div>
</div>

<div ng-if="showSearchResults == true" context-menu="searchMenuOptions" class="songSearchResults">
	<div ui-grid="searchGridOptions" ui-grid-selection class="grid grid-align"></div>
</div>

<div ng-switch="sandboxView" context-menu="sandboxMenuOptions" class="sandboxSongsContainer">
	<div ng-if="sandboxView == 'sandbox-results'" class="sandboxSongsHeader">
		<label ng-click="generateRecommendations($event)">
			Sandbox &#9883;
		</label>
	</div>

	<div ng-switch-when="sandbox-results" class="sandboxSongs">		
		<div ui-grid="sandboxGridOptions" ui-grid-selection class="grid grid-align"></div>
	</div>
</div>