<div class="searchSong">	
	<form autocomplete="off" ng-submit="searchQuery(query.text)">
		<label>
			<input id="songSearch" type="text" placeholder="&#9833; Search" name="input" ng-model="query.text">
		</label>		
	</form>
	
</div>

<div ng-if="showSearchResults == true" context-menu="searchMenuOptions" class="songSearchResults">
	<div ui-grid="searchGridOptions" ui-grid-selection class="grid grid-align"></div>
</div>

<div ng-switch="sandboxView" context-menu="sandboxMenuOptions" class="sandboxSongsContainer">
	<div ng-if="sandboxView == 'sandbox-results'" class="sandboxSongsHeader">
		<label ng-click="generateRecommendations($event)">
			Sandbox <span class="sandboxSymbol"> &#9883; </span>
		</label>
	</div>

	<div ng-switch-when="sandbox-results" class="sandboxSongs">		
		<div ui-grid="sandboxGridOptions" ui-grid-selection class="grid grid-align"></div>
	</div>
</div>