<div class="searchSong">	
	<form ng-submit="searchQuery(query.text)">
		<label>
			<input id="songSearch" type="text" placeholder="&#9833; Search" name="input" ng-model="query.text">
		</label>		
	</form>
	<div class="searchResultsStatus" ng-if="showSearchResults == true"> showing results for "{{searchedQuery}}" </div>
</div>

<div ng-if="showSearchResults == true" context-menu="searchMenuOptions" class="songSearchResults">
	<div ui-grid="searchGridOptions" ui-grid-selection class="grid grid-align"></div>
</div>

<div ng-switch="customView" context-menu="customMenuOptions" class="customSongsContainer">
	<div ng-if="customView == 'custom-results'" class="customSongsHeader">
		<label>
			Custom &#9883;
		</label>
	</div>

	<div ng-switch-when="custom-results" class="customSongs">		
		<div ui-grid="customTagGridOptions" ui-grid-selection class="grid grid-align"></div>
	</div>
</div>