<div class="searchSong">
	<form ng-submit="searchQuery(query.text)">
		<label>
			<span> &#9906 </span>
			<input type="text" name="input" ng-model="query.text">
		</label>		
	</form>
</div>

<div ng-if="showSearchResults == true" class="songSearchResults">
	<div ui-grid="searchGridOptions" ui-grid-selection class="grid grid-align"></div>
</div>

<div ng-if="showSelectedSongs" class="selectedSongsContainer">
	<div class="selectedSongsHeader">
		<label>
			Custom Tag
		</label>
		<md-button class="md-primary customTagButton">
			+
		</md-button>
	</div>

	<div class="selectedSongs">
		<div ui-grid="selectedSongsGridOptions" ui-grid-selection class="grid grid-align"></div>
	</div>
</div>