<tags-input ng-model="tags" 
	placeholder="Tags"
	add-from-autocomplete-only="true"
	on-tag-added="onTagAdded($tag)"
	on-tag-removed="onTagRemoved($tag)"
	>
	<auto-complete source="loadTags($query)"
		min-length="0"
		load-on-focus="true"
		max-results-to-show="64"
	>
	</auto-complete>
</tags-input>

<div class="tagFilterSection">
	<label>
		<input type="radio" ng-model="filter.name" value="Union">
		<span> Union </span>
	</label>

	<label>
		<input type="radio" ng-model="filter.name" value="Intersection">
		<span> Intersection </span>
	</label><br/>
</div>

<div ng-switch="tagView" class="tagView">
	
	<div class="tagCloud" ng-switch-when="tag-cloud">
		<jqcloud id="cloud-dynamic" words="tagCloud" auto-resize="true" colors="{{colors}}" steps="7" font-size="{from:0.08, to:0.03}"></jqcloud>
	</div>

	<div class="tagResults" ng-switch-when="tag-results">
		<div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
	</div>
</div>