<tags-input ng-model="tags" 
	placeholder="Explore tags"
	add-from-autocomplete-only="true"
	on-tag-added="onTagAdded($tag)"
	on-tag-removed="onTagRemoved($tag)"
	>
	<auto-complete source="loadTags($query)"
		min-length="0"
		load-on-focus="true"
		max-results-to-show="64"
	>
	</auto-complete>
</tags-input>

<label>
	<input type="radio" ng-model="filter.name" value="Union">
	Union
</label>

<label>
	<input type="radio" ng-model="filter.name" value="Intersection">
	Intersection
</label><br/>

<div ng-switch="tagView">
	<div class="tagCloud" ng-switch-when="tag-cloud">
		<div ng-repeat="tag in tagCloud">			
			<span> {{tag.text}} {{tag.count}}</span>
		</div>
	</div>

	<div class="tagResults" ng-switch-when="tag-results">
		<div ng-repeat="song in songs">
			<song song="song['songInfo']"> </song>
		</div>
	</div>
</div>

<a href="/#/audioFeatures" class="forwardButton">
	Get Song Features
</a>
<a href="/#/search" class="songPanel">
	Search Songs
</a>