<% if user_signed_in? %>

	<div ng-app="MusicApp" class="mainContainer">

		<div ng-controller="navigationController" class="navContainer">

			<div class="loadingContainer" ng-if="dataLoading">
				Loading...
			</div>
			<md-sidenav md-component-id="left" class="md-sidenav-left">
				
				<div>
					Logged in as <strong><%= current_user.email %></strong>.
					<%= link_to 'Edit profile', edit_user_registration_path %> |
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				</div>
			</md-sidenav>

			<md-sidenav md-component-id="right" class="md-sidenav-right">
				
				<div ng-switch="navView">
		
					<div class="tagCloud" ng-switch-when="tag-view">
						<a href="/#/audioFeatures">
							Get Song Features
						</a>
					</div>

					<div class="tagResults" ng-switch-when="other-view">
						<a href="/#/">
							Return to Tags
						</a>
					</div>


				</div>

				<a href="/#/search">
					Search Songs
				</a>

			</md-sidenav>

			<md-content>
				<md-button class="md-raised leftButton" ng-click="openLeftMenu()">@.@
				</md-button>
				<md-button class="md-raised rightButton" ng-click="openRightMenu()">()()()
				</md-button>
			</md-content>
		</div>

		<div ng-controller="tagController" class="contentContainer">
			<div ng-view class="viewContainer">
				<!-- view content here -->
			</div>
		</div>

	</div>

<% end %>