<% if user_signed_in? %>
	Welcome To Spotify App 
	<br>
	
<div ng-app="MusicApp" ng-controller="playlistController">

	<div>
		{{loading}}
	</div>

	<div ng-view>
		<!-- view content here -->
	</div>


</div>

<% end %>