<% if user_signed_in? %>
	Welcome To Spotify App 
	<br>
	
<div ng-app="MusicApp" ng-controller="playlistController">

	<div>
		{{loading}}
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Playlist Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="playlist in playlists">
				<td> 
					<input type="checkbox" ng-model="selected[$index]" ng-true-value="'{{playlist.id}}'" />
					<span> {{playlist.name}} </span>
				</td>
			</tr>
		</tbody>
	</table>


	<div ng-click="buttonClicked()" id="addPlaylists">
		Retrieve Playlist songs
	</div>

</div>

<% end %>