<% if user_signed_in? %>
	<br>
	
<div ng-app="MusicApp" ng-controller="tagController" class="mainContainer">

	<div>
		{{loading.text}}
	</div>

	<div ng-view class="viewContainer">
		<!-- view content here -->
	</div>

</div>

<% end %>