<% if user_signed_in? %>
	Welcome To Spotify App 
	<br>
	
	<div ng-app="MusicApp" ng-controller="playlistController">

		<div>
			{{loading}}
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Playlist Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="playlist in playlists">
					<td> 
						<input id="{{playlist.name}}" name="{{playlist.name}}" type="checkbox" value="1" />
						<span> {{playlist.name}} </span>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

<% end %>