<% if user_signed_in? %>
	Welcome To Spotify App 
	<br>
	
	**start

<% if @playlists %>
	<%= form_tag "/users/edit", method: "PUT"  do |f| %>
	    <% @playlists.each do |list|%>    
	            <span> <%= check_box_tag list.name %> </span>
	            <span> <%= list.name %> </span>           
	            <br/><hr/>
	    <% end %>
	    <%= submit_tag("Search")  %>
	<% end %>
<% end %>


	**finish

<% end %>