<tags-input context-menu="tagOptions" class="tagCloudTagInput" 
	ng-model="tags"
	key-property="id"
	placeholder="{{tags.length ? '' : '&#9751; Enter Tag'}}"
	add-from-autocomplete-only="true"
	on-tag-clicked="onTagClicked($tag)"
	on-tag-added="onTagAdded($tag)"
	on-tag-removed="onTagRemoved($tag)"
	template="my-custom-template"
	min-length="1"
	>
	<auto-complete source="filterTags($query)"
		min-length="0"
		load-on-focus="true"
		max-results-to-show="64"
	>
	</auto-complete>
</tags-input>

<div class="tagFilterSection">	 
	<label>
		<input type="radio" ng-model="filter.name" value="Union">
		<span> &#x222A</span>
	</label>

	<label>
		<input type="radio" ng-model="filter.name" value="Intersection">
		<span> &#x2229</span>
	</label><br/>
</div>

<div ng-switch="tagView" class="tagView">

	<div class="tagCloud" ng-switch-when="tag-cloud">
		<jqcloud id="cloud-dynamic" words="tagCloud" auto-resize="true" colors="{{colors}}" steps="7" font-size="{from:0.04, to:0.015}"></jqcloud> 
	</div>

	<div class="tagResultsContainer" context-menu="menuOptions" ng-switch-when="tag-results">
		<div class="tagResults">
			<div ui-grid="gridOptions" ui-grid-selection class="grid grid-align"></div>
		</div>

		<div class="tagNewButton" ng-click="onNewTagButtonClick($event)">
			<span> &#x2295 </span> New Tag
		</div>
	</div>
</div>

<script type="text/ng-template" id="my-custom-template">
	<div class="tag-template">
		<div>
			<span>{{$getDisplayText()}}</span>
			<span class="selectedTagSymbol" ng-if="data.selected"> &#10004;</span>
			<a class="remove-button" ng-click="$removeTag()">&#10006;</a>

		</div>
	</div>
</script>
