div.sandboxSongsContainer
{
	height:50%;
}

div.sandboxSongsContainer .sandboxSongsHeader
{
	height: 50px;
	position: relative;
	width: 100%;
	border-top: 1px solid rbga(0,0,0,0.5);
	margin-bottom: 3px;
}

div.sandboxSongsContainer .sandboxSongsHeader label
{	
	margin: 5px;
	font-size: 30px;
	font-weight: normal;
}

div.sandboxSongs
{	
	position: relative;
}

.sandboxSongsContainer div.grid.grid-align
{
	// overflow: scroll;
}

.contentContainer .sandboxSongs div.ui-grid-viewport 
{
	height:210px;
}

.contentContainer .sandboxSongsContainer > .sandboxSongsHeader > label
{
	color: rgb(132, 132, 188);

}

.sandboxSymbol {
	color: #ACACE4;
}

body > div > div > div.contentContainer > div.secondaryContainer > div.sandboxSongsContainer > div.sandboxSongs > div {
	height: 242px !important;
}