//// Parent containers
html
{
    height: 100%;
}

head
{
	height: 0%;
}

body
{
	height: 100%;
	margin:0;
	padding:0;
	overflow:hidden;	
}

.mainContainer
{
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

//// Main page containers
.navContainer
{
	position:relative;
	height: 80px;
	width: 100%;
	margin:0;
	padding: 0;
}

.contentContainer
{
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0 0 80px;
}

//// Angular view container
.viewContainer
{
	position: relative;	
	height: 100%;
	margin: 0;
	padding: 0;
}