//// Parent containers
html
{
    height: 100%;
}

head
{
	height: 0%;
}

body
{
	height: 100%;
	margin:0;
	padding:0;
	overflow:hidden;	
}

.lisztContainer
{
	position:relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

.mainContainer
{
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

//// Main page containers
.navContainer
{
	position:relative;
	height: 80px;
	width: 100%;
	margin:0;
	padding: 0;
}

.contentContainer
{
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0 0 80px;
}

//// Angular view container
.viewContainer
{
	height: 100%;
	width: 100%;
	position: relative;
	float: left;

	margin: 0;
	padding: 0;		
}

.splitContainer
{
	height: 100%;	
	width: 100%;
	position: relative;
	float: left;

	margin: 0;
	padding: 0;		
}

.secondaryContainer
{
	height: 100%;
	width: 50%;
	position: relative;	
	float: left;
	
	margin: 0;
	padding: 0;
	border-left: 1px solid grey;
}