//// Parent containers
html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: none;
}

head
{
	height: 0%;
}

body
{
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	overflow:hidden;	
}

.lisztContainer
{
	position:relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.mainContainer
{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

//// Main page containers
.navContainer
{
	position:relative;
	height: 80px;
	width: 100%;
	margin:0;
	padding: 0;
}

.contentContainer
{
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0 0 80px;
}

//// Angular view container
.viewContainer
{
	height: 100%;
	width: 100%;
	position: relative;
	float: left;

	margin: 0;
	padding: 0;		
}

.splitContainer
{
	height: 100%;	
	width: 100%;
	position: relative;
	float: left;

	margin: 0;
	padding: 0;		
}

.secondaryContainer
{
	height: 100%;
	width: 37%;
	position: relative;	
	float: left;
	
	margin: 0;
	padding: 0;
	border-left: 1px solid rgba(0,0,0,0.5);
}


//

// .tagView {
// 		height: 2000px !important;
// 		.tagResultsContainer {
// 			height: 2000px !important;
// 			.tagResults{
// 				height: 2000px !important;
// 			}
// 		}
// 	}

#tag-selector .tagCloudTagInput {
	position:relative;
	margin-top: 20px;
	height: 55px;
	min-height: 55px;


	.host {
		margin: 0 auto;
		width: 75%;

		.tags {
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}


}


#song-container{
	margin: 5px;
	text-align:center;

	h1, h2 {
		margin-top: 5px;
	}

	h2 {
		font-weight: 300;
	}

	.host {
		margin: 0 auto;
		width: 75%;

		.tags {
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.ngViewport.ng-scope {
    height: auto !important;
    overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer {
    width: auto !important;
}
