// MISC
.songCard
{
	font-weight: bold;
	text-align: center;	
	margin: 0 auto;
	cursor: pointer;
}

#songPlayer
{
	position: absolute;
	height: 100px;
	width: 250px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	z-index: 10;
}

.loadingContainer
{
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	color: #FAFAFA;
	background: rgba(255,255,255,0.5);
	font-size: 22px;
	z-index: 100000;

	div 
	{
		position: absolute;
		bottom: 5px;
		left: 5px;
		color: black;
	}
}

.ui-grid 
{
	position: absolute;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.grid-align
{
	text-align: center;
}

div.ui-grid-cell
{
	position: relative;
}

.songCell
{	
	text-decoration: underline;
	cursor: pointer;
}

.selectedSongsHeader label
{
	font-size: 30px;	
}