// MISC
.songCard
{
	font-weight: bold;
	text-align: center;	
	margin: 0 auto;
	cursor: pointer;
}

#songPlayer
{
	position: absolute;
	height: 100px;
	width: 250px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	z-index: 10;
}

.loadingContainer
{
	position: fixed;	
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	

	color: #FAFAFA;
	background: rgba(255,255,255,0.1);
	font-size: 15px;
	z-index: 100000;

	div 
	{		
		position: absolute;
		background-color: black;
		bottom: 0px;
		right: 0px;
		padding: 0 15px 5px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: white;
	}
}

.ui-grid 
{	
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: none !important;
}

.contentContainer .tagResultsContainer div.ui-grid-viewport
{
	height: 395px;
}

.grid-align
{
	// text-align: center;
}

div.ui-grid-cell
{
	position: relative;
	padding: 9px;
}

.gridPlayButton 
{
	margin-left: 2px;
}

.songCell
{	
	text-decoration: underline;
	cursor: pointer;
}

.songArt
{
	height: 250px;
	width: 250px;
	border: solid black;
	margin: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.splitContainer.ng-split-add {
	opacity: 1; 
	transition: width 0.3s ease;
}
.splitContainer.ng-split-add.ng-split-add-active {
	opacity: 1;
	width: 63%;
}
.splitContainer.ng-split-remove {  
	opacity: 1; 	
	transition: width 0.3s ease;
}
.splitContainer.ng-split-remove.ng-split-remove-active {
	opacity: 1;
	width: 100%;
}
.splitContainer.ng-split {
	width: 63%;	
}

.splitToggleButton {
	position:fixed;
	top: 150px;
	right: 5px;
	font-size: 35px;

	z-index: 1;
	cursor: pointer;
}

.gridPlayButton {
	color:green;
}

.gridRemoveButton {
	color:red;
}

#sandboxCount {
	font-size: 18px;
	color: green;
	position: absolute;
	left:21px;
}