// MISC
.songCard
{
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
}

#songPlayer
{
	position:absolute;
	margin: 0 auto;
	left:0px;
	right:0px;
	z-index:10;
}

div.navContainer.ng-scope > md-content > button.md-raised.md-button.md-ink-ripple
{
	box-shadow:none;
}

.loadingContainer
{
    position:fixed;
    padding:0;
    margin:0;
    color: #FAFAFA;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);

    font-size: 22px;
    z-index: 100000;

    div 
    {
    	color:black;
    	position:absolute;
    	bottom:5px;
    	left:5px;
    }
}

.ui-grid 
{
	position: absolute;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.grid-align
{
	text-align: center;
}

div.ui-grid-cell
{
	position: relative;
}

.songCell
{
	cursor:pointer;
	text-decoration: underline;
}

//// MISC
.searchSong label
{
	font-size: 30px;
}

.navContainer span
{
	font-size: 30px;
}

.selectedSongsHeader label
{
	font-size: 30px;	
}

body > div > div.contentContainer.ng-scope > div.viewContainer.ng-scope > tags-input > div > div
{
	overflow: scroll;
}
