//// Navigation elements
html .navContainer md-content
{
	height:80%;
	width:100%;
	overflow:hidden;
	background: black;
}

.navContainer .md-button
{
	height:50%;
	width:20%;	
}

body > div > div.navContainer.ng-scope > md-content > button.md-raised.rightButton.md-button.md-ink-ripple
{
	position: absolute;
	top: 0px;
	border:black;
	right: 0px;	
	background: inherit;
	color: #FAFAFA;
}

body > div > div.navContainer.ng-scope > md-content > button.md-raised.leftButton.md-button.md-ink-ripple
{  
	position: absolute;
	top: 0px;
	border:black;
	left: 0px; 
	background: inherit;
	color: #FAFAFA;
}