//// Navigation elements
html .navContainer md-content
{
	height:80px;
	width:100%;
	overflow:hidden;	
	background: #282828;
}

.navContainer .md-button
{
	height:50%;
	width:13%;
	margin-top: 18px;
}

body > div > div.navContainer.ng-scope > md-content > button.md-raised.rightButton.md-button.md-ink-ripple
{
	position: absolute;
	top: 0px;
	border:black;
	right: 0px;	
	background: inherit;
	color: #FAFAFA;	
	span
	{
		font-size: 45px;
	}
}

body > div > div.navContainer.ng-scope > md-content > button.md-raised.leftButton.md-button.md-ink-ripple
{  
	position: absolute;
	top: 0px;
	border:black;
	left: 0px; 
	background: inherit;
	color: #FAFAFA;
	margin-top:0px;
	height:70px;
}