//// Parent containers


html
{
    height: 100%;
}

head
{
	height:0%;
}

body
{
	height: 100%;
	overflow:hidden;
}

.mainContainer
{
	height: 100%;
}


//// Main page containers


.navContainer
{
	height: 12%;
	width: 100%;
}

.contentContainer
{
	height: 78%;
}


//// Navigation elements


html md-content
{
	height:80%;
	width:100%;
	overflow:hidden;
	background: black;
}

.md-button
{
	height:50%;
	width:20%;	
}

body > div > div.navContainer.ng-scope > md-content > button.md-raised.rightButton.md-button.md-ink-ripple
{
	position: absolute;
	top: 0px;
	border:black;
	right: 0px;	
	background: inherit;
	color: #FAFAFA;
}

body > div > div.navContainer.ng-scope > md-content > button.md-raised.leftButton.md-button.md-ink-ripple
{  
	position: absolute;
	top: 0px;
	border:black;
	left: 0px; 
	background: inherit;
	color: #FAFAFA;
}


//// Angular view container


.viewContainer
{
	position: relative;
	top: 0px;
	height: 100%;
}


//// Tag input elements


html tags-input
{
	height: 20%;
}

body > div > div.ng-scope > div.ng-scope tags-input > div > div > ul > li
{
	background: #ACACE4;
}

body > div > div.contentContainer.ng-scope > div.viewContainer.ng-scope > tags-input > div > div > ul > li > ti-tag-item > ng-include > a
{
	font-size: 50px;
}

html tags-input .tags .input
{
	border: 0;
	outline: none;
	margin: 2px;
	padding: 0;
	padding-left: 5px;	
	float: left;
	height: 50px;
	font: 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html tags-input .tags .tag-item
{
	border: 0;
	outline: none;
	margin: 2px;
	padding: 0;
	padding-left: 5px;	
	float: left;
	height: 50px;
	font: 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}


// Tag radio buttons


.tagFilterSection
{
	height: 10%;
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

.tagView
{
	height: 70%;
}

input[type="radio"]:checked + span
{
    font-weight: bold;
}

[type='radio'] {
	display: none; 
}

//// Tag cloud / results


.tagCloud
{
	height: 100%; 
	position: relative;
}

.tagResults
{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: scroll;
}

#cloud-dynamic 
{ 
	position:absolute;
	height: 100%;
	width: 100%;
}


//// MISC


label
{
	font-size: 30px;
}

body > div > div.contentContainer.ng-scope > div.viewContainer.ng-scope > tags-input > div > div
{
	overflow: scroll;
}

button span
{
	font-size: 30px;
}


// General

.songCard
{
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
}

.loadingContainer
{
    position:fixed;
    padding:0;
    margin:0;
    color: #FAFAFA;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);

    font-size: 22px;
    text-align: center;
    z-index: 100000;
}
