html
{
    height: 95%;
}

body
{
	height: 100%;
}

.mainContainer
{
	height: 80%;
}

.viewContainer
{
	height: 100%;
}

.tagView
{
	height: 100%;
}

.tagCloud
{
	height: 100%;
	position: relative;
}

#cloud-dynamic 
{ 
	position:absolute;
	height: 100%;
	width: 100%;
}

.forwardButton 
{  
	position: fixed;
	top: 10px;
	right: 10px; 
}

.backButton
{  
	position: fixed;
	bottom: 10px;
	right: 10px; 
}

.tagResults
{
	height: 300px;
	width: 300px;
	overflow: scroll;
}

.songPanel
{
	position: fixed;
	bottom: 10px;
	left: 10px; 
}