html
{
    height: 95%;
}

body
{
	height: 90%;
}

label
{
	font-size: 30px;
}

button span
{
	font-size: 30px;
}

.mainContainer
{
	height: 80%;
}

.contentContainer
{
	height: 100%;
}

.viewContainer
{
	position: relative;
	top: 65px;
	height: 100%;
}

.tagView
{
	height: 100%;
}

.tagCloud
{
	height: 100%; 
	position: relative;
}

.tagResults
{
	height: 100%;
	width: 400px;
	margin: 0 auto;
	overflow: scroll;
}

#cloud-dynamic 
{ 
	position:absolute;
	height: 100%;
	width: 100%;
}

.rightButton 
{  
	position: fixed !important;
	top: 10px;
	border:black;
	right: 10px; 
}

.leftButton
{  
	position: fixed !important;
	top: 10px;
	border:black;
	left: 10px; 
}

.tagFilterSection
{

	margin: 0 auto;
	width: 400px;
}

.loading
{
	position: fixed;
	width: 500px;
	height: 200px;
	margin: 50%; /* Will not center vertically and won't work in IE6/7. */
	margin-left: -400px;
}

.songCard
{
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
}