$tag-text-height: 30px;

//// Search
div.searchSong
{
	position: relative;
	height: 80px;
}

div.searchSong > form
{
	height: 40px;
}

.searchResultsStatus
{
	height: 40px;
	text-align:center;
}

.searchSong input
{
	position:absolute;
	width: 100%;
	right: 0px;
	font: $tag-text-height "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.searchSong label
{
	height: 100%;
	width: 100%;
	position: relative;	
}

div.songSearchResults
{
	height: 40%;
	position: relative;
	overflow: scroll;
	border-bottom: 2px solid grey; 
}

div.customSongsContainer
{
	height:50%;
}

div.customSongsContainer .customSongsHeader
{
	height: 50px;
	position: relative;
	width: 100%;
	border-top: 4px solid black;
}

div.customSongsContainer .customSongsHeader label
{	
	margin: 5px;
	font-size: 30px;
	font-weight: normal;
}

div.customSongs
{
	height: 85%;
	position: relative;
	overflow: scroll;
}

.customSongsContainer div.grid.grid-align
{
	overflow: scroll;
}











