$tag-text-height: 30px;

//// Search
div.searchSong
{
	position: relative;
	height: 80px;
	padding: 20px;
}

div.searchSong > form
{
	height: 40px;
}

.searchResultsStatus
{
	height: 40px;
	text-align:center;
}

.searchSong input
{
	position:absolute;
	width: 100%;
	right: 0px;
	font: $tag-text-height "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.searchSong label
{
	height: 100%;
	width: 100%;
	position: relative;	
}

.secondaryContainer .ui-grid {
	border-bottom: none;
}

div.songSearchResults
{
	height: 40%;
	position: relative;
	margin-top: 15px;
}

// .songSearchResults > div {
// 	// height:210px;
// 	height: 
// }

.contentContainer .songSearchResults div.ui-grid-viewport {
	height:165px;
}

#songSearch {
	height: 56px;
	padding: 10px;
}