//// Tag input elements

tags-input .tags .tag-list .tag-item
{
	height: 50px;	
	margin: 2px;
	padding: 0 0 5px;

	background: #ACACE4;
	border: 0;
	outline: none;
	float: left;
	font: 40px "Helvetica Neue", Helvetica, Arial, sans-serif;

	.remove-button
	{
		font-size: 50px
	}
}

html tags-input .tags .input
{
	height: 50px;
	font: 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html tags-input .tags
{
	overflow: scroll;
}

tags-input li ti-tag-item ng-include span
{
	padding: 5px;
}

// specific to tags input on main tags page
tags-input.tagCloudTagInput
{	
	height: 20%;
	min-height: 60px;

	div.host 
	{
		margin-top: 0;
	}
}

