// Tag radio buttons
.tagFilterSection
{
	height: 60px;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	line-height: 0.75;

	span
	{
		font-size: 40px;
		font-weight: lighter;
		cursor:pointer;
	}

	input[type="radio"]:checked + span
	{
		font-weight: bold;
	}

	[type='radio'] {
		display: none;
	}
}

#union-symbol
{ // for some reason, bootstrap has the union symbol, by default, much smaller than the intersection symbol
	font-size:55px;
}

.tagView
{	
	height: 70%;
}

//// Tag cloud / results
.tagResultsContainer
{	
	height:100%;
}

.tagResults
{
	position: relative;
	height: 90%;
	width: 100%;
	margin: 0 auto;
	overflow: scroll;
}

.tagNewButton
{
	text-align: center;
	position: absolute;
	bottom: 0;
	height:45px;
	width:100%;	
	background-color: #282828;
	color:white;
	cursor: pointer;
	font-size:25px;
}

.tagCloud
{
	height: 100%; 
	position: relative;
}

#cloud-dynamic 
{ 
	position:absolute;
	height: 100%;
	width: 100%;

	span 
	{
		cursor: pointer;
	}
}