// Tag radio buttons
.tagFilterSection
{
	height: 60px;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	line-height: 0.75;

	label
	{
		position:absolute;
		height:50px;
		width:50px;
	}

	label:nth-child(1)
	{
		transform: translate(-50px, 0px);
	}

	label:nth-child(2)
	{
		transform: translate(0px, 0px);
	}

	span
	{
		font-family: Roboto, "Helvetica Neue", sans-serif !important;
		font-size: 40px;
		font-weight: lighter;
		cursor:pointer;
	}

	span:hover
	{
		font-size: 500%;
		transition: all 0.3s ease;		
	}

	input[type="radio"]:checked + span
	{
		transition:all 0.3s ease;
		font-weight: bold;
		color: #ACACE4;
	}

	[type='radio'] {
		display: none;
	}
}

.tagView
{	
	height: 70%;
}

//// Tag cloud / results
.tagResultsContainer
{	
	height:100%;
}

.tagResults
{
	position: relative;
	height: 90%;
	width: 100%;
	margin: 0 auto;
	overflow: scroll;
}

.tagNewButton
{
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 45px;
	width: 100%;	
	background-color: #282828;
	color: white;
	cursor: pointer;
	font-size:25px;
	span 
	{
		color: green;
	}
}

.tagNewButton:hover
{
	transition: all 0.5s ease;
	background-color: #254117;
}

.tagCloud
{
	height: 100%; 
	position: relative;
}

#cloud-dynamic 
{ 
	position:absolute;
	height: 100%;
	width: 100%;

	span 
	{
		cursor: pointer;
	}

	span:hover
	{
		transition: all 0.3s ease;
		border-color: #66afe9;
		color: #ACACE4 !important;
	}
}